section {
   margin: 10px 0;
}

#section-playlist, #section-analyze, #section-sync {
   display: none;
}

#section-init>div, #section-playlist>div {
   align-items:     flex-end;
}

#iTunesPlaylists {
   height: 250px;
}

#loading-screen {
   position:        fixed;
   top:             0;
   bottom:          0;
   left:            0;
   right:           0;
   background:      rgba(255,255,255,1);
   display:         flex;
   flex-wrap:       nowrap;
   flex-direction:  column;
   justify-content: center;
   align-items:     center;
   align-content:   center;
}

#loading-progress {
   display: none;
}
